In [1]:
import psycopg2 as pg2
#establishing the connection
conn = pg2.connect(
   database="excercises",
    user='nduser1',
    password='sql@projects',
    host='localhost',
    port= '5432'
)
  
conn.autocommit = True
print('Connection Successful')

Connection Successful

In [3]:
import warnings
warnings.filterwarnings("ignore")

In [4]:
import pandas as pd
pd.read_sql("SELECT City, State FROM populations WHERE Population < 700000", conn)

          city      state
0      Madison  Wisconcin
1      Orlando    Florida
2    Milwaukee  Winconsin
3        Miami    Florida
4  Springfield   Illinois

In [6]:
#load the data as a dataFrame
# To show the demo I have created a dataset population_data.csv
populations = pd.read_csv('population_data.csv')

#Now execute the following command
populations[populations['Population'] < 700000][['City', 'State']]

          City      State
0      Madison  Wisconcin
3      Orlando    Florida
4    Milwaukee  Winconsin
5        Miami    Florida
6  Springfield   Illinois