In [1]:
#import required libraries
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression

In [2]:
#import the dataset
data = pd.read_csv('ledtelevision .csv')
data.head()

  Manufacturer   Screen    Price
0         Sharp      40   922.50
1       Samsung      51  1537.25
2       Samsung      48  1710.50
3          Sony      44  1233.25
4         Sharp      40   808.25

In [3]:
#Get dummy data for each category in Manufacturer
dummy_df = pd.get_dummies(data['Manufacturer '])
dummy_df.head()

   Samsung  Sharp  Sony
0        0      1     0
1        1      0     0
2        1      0     0
3        0      0     1
4        0      1     0

In [4]:
#From the dummy_df add 'Sony' and 'Sharp' to the original dataaset
data['Sony'] = dummy_df['Sony']
data['Sharp'] = dummy_df['Sharp']

#Check the updated data
data.head()

  Manufacturer   Screen    Price  Sony  Sharp
0         Sharp      40   922.50     0      1
1       Samsung      51  1537.25     0      0
2       Samsung      48  1710.50     0      0
3          Sony      44  1233.25     1      0
4         Sharp      40   808.25     0      1

In [5]:
#Now perform multiple linear regression

# prepare the input variables X and the target variable y
X = data[['Screen','Sony', 'Sharp']]
y = data['Price']

X.head()

   Screen  Sony  Sharp
0      40     0      1
1      51     0      0
2      48     0      0
3      44     1      0
4      40     0      1

In [6]:
y.head()

0     922.50
1    1537.25
2    1710.50
3    1233.25
4     808.25
Name: Price, dtype: float64

In [7]:
# create and fit the linear regression model
model = LinearRegression().fit(X, y)

# print the coefficients and intercept
print('Intercept: ', round(model.intercept_, 3))
print('Coefficients: ', [round(x, 3) for x in model.coef_])

Intercept:  -1558.61
Coefficients:  [63.268, -164.431, -48.988]